.barra-usuario {
    margin: 0px;
    padding: 1px;
    text-align: right;
    background-color: #3c3c3c;
    color: aquamarine;
  }
  .barra-usuario a {
    text-decoration: none;
    color: black;
    background-color: white;
  }
  .barra-usuario a:hover {
    color: white;
    background-color: #5f5f5f;
  }
  
  .barra-usuario-inativo {
    color: darkcyan;
  }
  
  .barra-usuario-ativo {
    color: white;
  }
  