* {
  margin: 0px;
  padding: 0px;
}
  .mg-vt-5 {
    margin: 5px 0px;
  }
  
  .mg-vt-10 {
    margin: 10px 0px;
  }
  
  .mg-vt-15 {
    margin: 15px 0px;
  }
  
  .mg-vt-20 {
    margin: 20px 0px;
  }
  
  .mg-vt-30 {
    margin: 30px 0px;
  }
  
  .mg-vt-40 {
    margin: 40px 0px;
  }
  
  .mg-hr-5 {
    margin: 0px 5px;
  }
  
  .mg-hr-10 {
    margin: 0px 10px;
  }
  
  .mg-hr-15 {
    margin: 0px 15px;
  }
  
  .mg-hr-20 {
    margin: 0px 20px;
  }
  
  .mg-hr-30 {
    margin: 0px 30px;
  }
  
  .mg-hr-40 {
    margin: 0px 40px;
  }
  
  .mg-5 {
    margin: 5px;
  }
  
  .mg-10 {
    margin: 10px;
  }
  
  .mg-15 {
    margin: 15px;
  }
  
  .mg-20 {
    margin: 20px;
  }
  
  .mg-30 {
    margin: 30px;
  }
  
  .mg-40 {
    margin: 40px;
  }
  