.pd-vt-5 {
    padding: 5px 0px;
  }
  
  .pd-vt-10 {
    padding: 10px 0px;
  }
  
  .pd-vt-15 {
    padding: 15px 0px;
  }
  
  .pd-vt-20 {
    padding: 20px 0px;
  }
  
  .pd-vt-30 {
    padding: 30px 0px;
  }
  
  .pd-vt-40 {
    padding: 40px 0px;
  }
  
  .pd-hr-5 {
    padding: 0px 5px;
  }
  
  .pd-hr-10 {
    padding: 0px 10px;
  }
  
  .pd-hr-15 {
    padding: 0px 15px;
  }
  
  .pd-hr-20 {
    padding: 0px 20px;
  }
  
  .pd-hr-30 {
    padding: 0px 30px;
  }
  
  .pd-hr-40 {
    padding: 0px 40px;
  }
  
  .pd-dir-5 {
    padding-right: 5px;
  }
  
  .pd-dir-10 {
    padding-right: 10px;
  }
  
  .pd-dir-15 {
    padding-right: 15px;
  }
  
  .pd-dir-20 {
    padding-right: 20px;
  }
  
  .pd-esq-5 {
    padding-left: 5px;
  }
  
  .pd-esq-10 {
    padding-left: 10px;
  }
  
  .pd-esq-15 {
    padding-left: 15px;
  }
  
  .pd-esq-20 {
    padding-left: 20px;
  }
  
  .pd-5 {
    padding: 5px;
  }
  
  .pd-10 {
    padding: 10px;
  }
  
  .pd-15 {
    padding: 15px;
  }
  
  .pd-20 {
    padding: 20px;
  }
  
  .pd-30 {
    padding: 30px;
  }
  
  .pd-40 {
    padding: 40px;
  }
  