.barra-cliente{
    background: linear-gradient(black, rgb(100,100,100));
    text-align: right;
    color: white;
    padding: 5px;
}

.barra-cliente a {
    text-decoration: none;
    color: rgb(235,165,15);
}

.barra-cliente a:hover{
    color: white;
}

.dropdown-menu a{
    text-decoration: none;
}

.dropdown-menu a:hover{
    background-color: rgb(50,60,60);
    color: white;
}
